.element {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(#fff, 0.5);
  padding: 16px;
  background: rgba(#fff, 0.05);
  margin-bottom: 1px;
  text-align: left;
}

.title {
  color: #fff;
  margin: 0 15px;
}

.duration {
  margin-left: auto;
}
