.title {
  font-size: 16px;
  color: #D8D8D8;
}

.subtitle {
  font-size: 14px;
  color: rgba(#fff, 0.5);
}

.song-details {
  background-color: #000000;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 0 16px;
  padding-top: 20px;
  height: 100px;
  text-align: left;
}
